body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
}
#intro {
    background-color: white;
    padding: 1rem;
    width: 80%;
    min-width: 400px;
    margin: 1rem auto;
    margin-top: calc(1rem + 48px);
    margin-bottom: 0px;
    border: 4px solid #FF9F55;
    border-radius: 6px;
}

#timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1rem;
}

#timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 0.75rem 3rem;
    position: relative;
    background-color: inherit;
    width: calc(50% - 6rem);
}

.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -16px;
}

.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

@media screen and (max-width: 600px) {
    #timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after, .right::after {
        left: 15px;
    }

    .right {
        left: 0%;
    }
}

.relative {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 48px;
    width: calc(100% - 8px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;
    border: 4px solid #FF9F55;
    border-radius: 6px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-right: 2px;
}
.link {
    display: flex;
    align-items: center;
}
.link > a {
    height: 48px;
}
#progress-bar {
    width: 0%;
    height: 0%;
    position: absolute;
    top: 0px;
    left: -4px;
    z-index: -2;

    border-radius: 6px;
    border: 4px solid #04AA6D;
    border-top: 0px;
    border-right: 0px;
    border-top-left-radius: 0px;
}