# Default ignored files
.vscode/
.idea/
.DS_Store
__pycache__/

# javascript
.env
.npm
node_modules/
jspm_packages/
package-lock.json
package.json
python/pong/videos/
python/pong/runs
wandb/
python/pong/gym-examples