# Default ignored files
.vscode/
.idea/
.DS_Store
__pycache__/

# javascript
.env
.npm
.zip
node_modules/
jspm_packages/
package-lock.json
package.json
python/pong/videos/
python/pong/runs
wandb/
python/pong/gym-examples
python/Manimations/**/media/videos/**/1080p60/partial_movie_files
python/Manimations/**/media/Tex/
